:root {
  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-background: hsla(0, 0%, 0%, 0.116);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--clr-background);
}

.container {
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  width: 50%;
}

.b-bottom {
  border-bottom: 3px solid var(--clr-background);
}

input {
  border: none;
  outline: none;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  gap: 1em;
}

.clearbtn {
  background-color: #eee;
}

.clr-all:hover {
  background-color: #302b2b;
}

.size {
  width: 100%;
}

.btn:hover {
  background-color: var(--clr-secondary);
}

.input-task {
  width: 100%;
  border-color: transparent;
  padding-block: 1em;
}

.form {
  display: flex;
}

.container > * {
  border-bottom: 1px solid #80808040;
  padding-inline: 1em;
}

input:focus {
  outline: none;
}

.task-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.title {
  margin-top: 1em;
  display: flex;
}

.ul-container li {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
}

.fa-solid {
  margin-left: auto;
}

.clearCompleted {
  width: 100%;
  padding: 1em;
}

.toDoList li {
  border-bottom: 1px solid #80808040;
}
