:root {
  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-background: hsl(0, 0%, 96%);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.424), rgba(7, 0, 0, 0.504)), url('./images/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  padding: 1.5em;
}

.container {
  background-color: #2b3b11b0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
}

.input-task {
  width: 100%;
  color: white;
  background-color: #cddf2d12;
  border: none;
  outline: none;
  padding-block: 1em;
  margin-block: 1em;
  border-radius: 1em;
  padding: 1em;
}

::placeholder {
  color: white;
}

#addBtn {
  width: 5%;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
}

.text-area {
  width: 70%;
  height: auto;
  margin-inline: 0.5em;
  padding: 0.7em;
  outline: none;
  background-color: #cddf2d12;
  border: none;
  border-radius: 1em;
  color: white;
}

.edit-active {
  border: 2px solid black;
}

.edit {
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 0.3em;
  margin-right: 0.5em;
}

.delete {
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 0.3em;
}

.clearCompleted {
  padding: 1em;
  width: 100%;
}
