:root {
  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-background: hsl(0, 0%, 96%);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--clr-background);
}

.container {
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-task {
  width: 100%;
  border-color: transparent;
  padding-block: 1em;
}

#addBtn {
  width: 5%;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
}

.container > * {
  border-bottom: 1px solid #80808040;
  padding-inline: 1em;
}

input:focus {
  outline: none;
}

.ul-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.title {
  margin-top: 1em;
  display: flex;
}

.ul-container li {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
}

.fa-solid {
  margin-left: auto;
}

.clearCompleted {
  width: 100%;
  padding: 1em;
}

.toDoList li {
  border-bottom: 1px solid #80808040;
}
